<div class="list-group">
    <a href="/" class="list-group-item list-group-item-action">Tâches à Faire</a>
    <a href="/mes-taches-terminees.html" class="list-group-item list-group-item-action">Tâches Terminées</a>
    <a href="/ajouter-une-tache.html" class="list-group-item list-group-item-action">Ajouter une tâche</a>
</div>
